@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

.container {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(26, 26, 68);
    border-radius: 5px;
    margin: 10rem auto;
    text-align: center;
    background: linear-gradient(rgba(73, 73, 128, 0.699), rgba(46, 38, 38, 0.678)),
    url('../images/1.jpg');
    background-size: cover;
    background-position: center;
}

.container > input, .container button {
    display: block;
    margin: 1rem auto;
}

.container button {
    width: 5rem;
    padding: 0.3rem;
    color: aliceblue;
    background-color: rgba(128, 116, 116, 0.76);
}

.container h3 {
    margin: 2rem;
    margin-bottom: 1rem;
    color: aliceblue;
    text-transform: capitalize;
}

.container p {
    color: aliceblue;
    font-size: 1.5rem;
}